.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.background-overlay {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: radial-gradient(at top center, #15495780 0%, #154957 100%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.about, .We_are{
    background-size: cover;
        background-position: center;
}

.team-bg{
    height: 500px;
    background-size: cover;
        background-position: center;
}