@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
}

.text-main {
  color: #1565c0;
}

.text-secondary{
  color: #0a223d;
}

.bg-main{
  background: #1565c0;
}

.btn{
  background:  #388ceb;
  border-radius: 3px;
  padding: 20px 40px;
  font-size: 12px;
  letter-spacing: 2px;
  transition: all .5s;
}

.btn:hover{
  background: #1565c0;
  transition: all .5s;
}

